{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container card">
       <h2>Bonjour chèrs utilisateur, voici ton nouveau mot de passe : {{ password }}</h2>
    </div>
{% endblock %}
