{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container card">
        <div class="row justify-content-center">
            <img src="{{ image }}" width="300px" alt="">
            <h1>Bonjour chers utilisateur,</h1>
            <p>Vous avez demandé à recevoir un nouveau mot de passe, suite à l'oubli du précédent.<br> Votre nouveau mot de passe : {{ password }}</p>
            <p><em>Le mot de passe est généré aléatoirement et est encodé dans notre base de données pour plus de sécurité !</em></p>
            <p>Nous vous conseillons fortement de changer à nouveau votre mot de passe lors de votre prochaine connexion sur <a href="http://ec2-3-86-6-98.compute-1.amazonaws.com/SignIn">oconomat.fr</a></p>
            <p>Cordialement, l'équipe d'oconomat.</p>
        </div>
    </div>
{% endblock %}
